/** Page **/
html {
  background-color: #3a4148;
}

body {
  font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  margin-top: 40px;
}

strong {
  color: #000000;
  font-weight: thick;
}

a {
  color: #2C8FF2;
}

.clear {
  clear: both;
}


/** Header and Form **/
#hd {
  background-color: #0f1821;
  border-bottom: 1px solid #efefef;
  color: #ffffff;
  height: 85px;
}

#logo {
  float: left;
  font-size: 25px;
  line-height: 85px;
  margin-left: 10px;
}

#logo a {
  color: #ffffff;
  text-decoration: none;
}

#search_form {
  margin-left: 250px;
}

.search_field {
  font-size: 16px;
  margin-top: 30px;
  width: 500px;
}

.document {
  border: 1px solid #000000;
}


/** Body **/
.main_body {
  background-color: #efefef;
  min-height: 500px;
  padding: 15px;
}


/** Footer **/
#ft {
  background-color: #0f1821;
  color: #ffffff;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}



#instructions {
  color: #9e9e9e;
  text-align: center;
}

#available_repos {
  margin-top: 60px;
}

#available_repos p {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#available_repos table {
  width: 100%;
}

#available_repos tr td {
  padding: 4px;
}

#recent_searches {
  margin-top: 60px;
  text-align: center;
}

#recent_searches p {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.result {
  margin-bottom: 35px;
}

.result .message {
  font-weight: bold;
}

.result .repo {
  color: #717171;
  float: left;
  margin-right: 25px;
}

.result .date {
  color: #717171;
  float: left;
}

.result .diff {
  clear: both;
}

.navigation {
  text-align: center;
}

.space {
  margin: 0px 10px;
}

#noresults {
  font-size: 26px;
  margin-top: 200px;
  text-align: center;
}