!!! XML
!!!

%html
  %head
    %title Gitdex
    %link{ :rel => 'stylesheet', :href => 'reset-fonts-grids.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => 'gitdex.css', :type => 'text/css' }
  %body
    #doc4.yui-t7.document
      #hd
        %span#logo
          %a{ :href => "/" } Gitdex
        %form#search_form{ :action => "/search", :method => "get" }
          %input.search_field{ :type => "text", :name => "query", :value => params[:query] }
          %input{ :type => "submit", :value => "search" }
      
      #bd
      .yui-g.main_body= yield
        
      #ft Gitdex was built for the <a href="http://blog.indextank.com/93/holiday-hacks-indextank-heroku/">IndexTank</a> Holiday Hacks Competition by <a href="http://twitter.com/robmerrell">Rob Merrell</a> &nbsp;&bull;&nbsp; Get the source on github at <a href="http://github.com/robmerrell/gitdex">robmerrell/gitdex</a>
